/* ./css/bg.css */
/*
body{
    backgrond-image: url("../img/bg/bg1.jpg");
}
*/

body {
    background: url('../img/rr.jpg') no-repeat center 
        center fixed;
    background-size: cover;
}
div {
    background-color: antiquewhite
}
h1 {
    color: white
        text-align: center;
    width: 800px;
    padding: 20px;
    margin: 0 auto;
    margin-top: 200px;
    font-family: 'Arimo', sans-serif;
    font-size: 3em;
}
<style>
span{
    font: bold 150px/1.6 verdana;
    color: lightblue;
    margin: 50px;

}
span:nth-child(1) { text-shadow: 5px 5px 5px #333;}
span:nth-child(2) { text-shadow: -5px -5px -5px 10px #333;}